@import "../../../../variables";

.wrapper {
    display: flex;
    align-items: center;
}

.statusBar {
    width: 100%;
    min-height: auto;
    padding: 0;
    line-height: 1;
}

.statusTextBox {
    min-height: auto !important;
    margin-top: 2px !important;
    padding: 3.5px 6px !important;
    margin-left: -4px !important;
    cursor: pointer !important;

    &:hover {
        background-color: $x-color-grey-3;
    }
}

.statusInput {
    width: 100%;
    height: auto;
    font-size: 11px;
    line-height: 1;
    margin-top: 2px;
    padding: 3px 5px;
}