@import "../../../../variables";

.wrapper {
    display: flex;
    align-items: center;
}

.statusBar {
    min-height: auto;
    padding: 10px 16px 10px 6px;
    line-height: 1;
}

.statusTextBox {
    min-height: auto;
}