$white: #ffffff;

$grey_100: #F2F2F2;
$grey_200: #E2E2E2;
$grey_300: #E9E9E9;
$grey_400: #C4C4C4;
$grey_500: #5B5B5B;
$grey_600: rgba(51, 51, 51, 0.3);
$grey_650: rgba(51, 51, 51, 0.5);
$grey_700: #333333;

$blue_200: rgba(69, 66, 210, 0.1);
$blue_300: rgba(69, 66, 210, 0.3);
$blue_400: rgba(69, 66, 210, 0.5);
$blue_500: #4542D2;
$blue_600: #3A3892;

$pink_200: #FFE8F1;
$red_600: #FB375B;

$text-color: $grey_700;
$link-color: $blue_500;
$link-hover-color: $blue_600;

/*navbar*/
$navbar-link-c: $blue_500;
$navbar-link-active-c: $grey_700;
$navbar-link-active-bg: $white;

/* buttons */
$btn-primary-bg: $blue_500;
$btn-primary-c: $white;
$btn-primary-disabled-bg: $grey_200;
$btn-primary-hover-bg: $blue_600;

$btn-outline-primary-bg: transparent;
$btn-outline-primary-bc: $blue_300;
$btn-outline-primary-c: $blue_500;
$btn-outline-primary-hover-c: $blue_600;
$btn-outline-primary-disabled-bc: $grey_200;
$btn-outline-primary-disabled-c: $grey_200;

$btn-secondary-bg: $white;
$btn-secondary-bc: $white;
$btn-secondary-c: $blue_500;
$btn-secondary-hover-c: $blue_600;
$btn-secondary-disabled-bg: $grey_200;
$btn-secondary-disabled-bc: $grey_200;
$btn-secondary-disabled-c: $white;

$btn-outline-secondary-bg: transparent;
$btn-outline-secondary-bc: $grey_600;
$btn-outline-secondary-c: $grey_700;
$btn-outline-secondary-hover-bc: $grey_650;
$btn-outline-secondary-disabled-bc: $grey_200;
$btn-outline-secondary-disabled-c: $grey_200;

$btn-text-color: $blue_500;

/* checkbox */
$custom-checkbox-bg: $white;
$custom-checkbox-border: $grey_200;
$custom-checkbox-label-c: $grey_700;
$custom-checkbox-label-thin-c: $grey_650;
$custom-checkbox-checked-bg: $blue_500;
$custom-checkbox-checked-border: $blue_500;
$custom-checkbox-checked-hover-bg: $blue_600;
$custom-checkbox-checked-hover-border: $blue_600;
$custom-checkbox-focus-border: $blue_300;
$custom-checkbox-disabled-bg: $grey_100;
$custom-checkbox-disabled-bc: $grey_200;
$custom-checkbox-disabled-color: $grey_650;
$custom-checkbox-checked-disabled-color: $grey_650;
$custom-checkbox-checked-disabled-bg: $grey_200;
$custom-checkbox-checked-disabled-bc: $grey_200;
$custom-grey-checkbox-checked-color: $grey_500;

/*radio-button*/
$radio-button-bg: $white;
$radio-button-border: $grey_200;
$radio-button-label-c: $grey_700;
$radio-button-hover-border: $blue_300;
$radio-button-checked-border: $blue_500;
$radio-button-disabled-bg: $grey_100;
$radio-button-disabled-bc: $grey_400;
$radio-button-disabled-c: $grey_650;
$radio-button-checked-disabled-border: $grey_200;
$radio-button-checked-disabled-bg: $grey_200;
$radio-button-checkmark-hover-bg: $blue_300;
$radio-button-checkmark-hover-bc: $blue_500;
$radio-button-checked-disabled-checkmark-bc: $grey_200;
$radio-button-checked-disabled-checkmark-bg: $grey_400;

/*input control*/
$input-border-color: $grey_400;
$input-bg: $white;
$input-value-color: $grey_700;
$input-placeholder-color: $grey_650;
$input-focused-color: $blue_500;
$input-error-color: $red_600;
$input-disabled-border: $grey_400;
$input-disabled-color: $grey_600;

$phone-number-prefix-color: $grey_650;

/*textarea*/
$textarea-border: $grey_200;
$textarea-bg: $white;
$textarea-placeholder-color: $grey_650;
$textarea-text-color: $grey_700;
$textarea-active-border: $blue_500;

/*custom select*/
$select-placeholder-color: $grey_650;
$select-border-color: $grey_400;
$select-value-color: $grey_700;
$select-active-placeholder-color: $blue_500;
$select-active-border-color: $blue_500;
$select-option-list-bg: $white;
$select-option-list-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
$select-option-color: $grey_700;
$select-option-bg: $white;
$select-active-option-bg: $pink_200;
$select-disabled-border: $grey_400;
$select-disabled-color: $grey_600;

/*modal*/
$backdrop-bg: $grey_600;
$modal-bg: $white;
$modal-title-c: $grey_700;
$modal-title-grey-c: $grey_650;
$modal-subtitle-c: $grey_700;
$modal-footer-bc: $grey_400;
$modal-steps-c: $grey_650;
$modal-step-c: $grey_700;
$modal-progress-full-bc: $blue_200;
$modal-progress-current-bc: $blue_300;