@use "src/assets/styles/variables" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding: 10px 18px;
  min-width: 112px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: 2px solid transparent;

  img,
  .icon {
    margin-right: 16px;
  }

  &:hover,
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: unset;
    outline: none;
  }

  &:disabled,
  &.disabled {
    pointer-events: auto;
    cursor: not-allowed;
    opacity: 1;
  }

  &.btn-lg {
    padding: 14px 28px;
    border-radius: 25px;
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  &.btn-primary {
    color: $btn-primary-c;
    background: $btn-primary-bg;

    &:hover {
      background: darken($btn-primary-bg, 10%);
      border-color: darken($btn-primary-bg, 10%);
    }

    &:disabled {
      background: $btn-primary-disabled-bg;
      border-color: $btn-primary-disabled-bg;
    }
  }

  &.btn-outline-primary {
    color: $btn-outline-primary-c;
    border: 2px solid $btn-outline-primary-bc;
    background: $btn-outline-primary-bg;

    &:hover {
      background: lighten($btn-primary-bg, 90%);
    }
  }

  &.btn-secondary {
    background: $btn-secondary-bg;
    border-color: $btn-secondary-bc;
    color: $btn-secondary-c;
    box-shadow: 0px 2px 8px rgba(237, 237, 237, 0.15);
  }

  &.btn-outline-secondary {
    color: $btn-outline-secondary-c;
    border: 2px solid $btn-outline-secondary-bc;
    background: $btn-outline-secondary-bg;

    &:hover {
      background: lighten($btn-primary-bg, 40%);
    }
  }

  &.btn-text {
    position: relative;
    padding: 0;
    border-radius: 0;
    border: none;
    color: $btn-text-color;
    letter-spacing: -0.02em;
    min-width: auto;

    &.has-arrow:after {
      content: '→';
      margin-left: 8px;
      font-weight: 700;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $btn-text-color;
      transition: width .3s ease-in-out;
    }

    &:hover:before {
      width: 100%;
    }
  }

  &.view-btn {
    img {
      margin-right: 0;
    }

    &:hover:before {
      display: none;
    }
  }
}

.btns-group {
  & + .btns-group {
    margin-top: 24px;
  }

  .btn + .btn {
    margin-left: 16px;
  }
}
