@use "src/assets/styles/variables" as *;

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: #333333;

  &.fw-normal {
    font-weight: 400;
  }
}

h1 {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 32px;
}

h2 {
  font-size: 40px;
  line-height: 72px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

a,
a.link {
  display: inline-block;
  width: max-content;
  color: $link-color;
  text-decoration: none;
}

.form-group {
  margin-bottom: 24px;
}

