.WaintingScreening .WaintingScreeningTitle {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 72px;
}

.WaintingScreening .WaintingScreeningHours{
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #333333;
}

.WaintingScreening .WaintingScreeningHours:before {
  content: url('../../../assets/icons/warning-circle-icon.svg');
  padding-right: 15px;
  vertical-align: -15%;
}