.ProfileMcr {
  margin-bottom: 56px;
}

.ProfileMcr .ProfileDivider {
  height: 1px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 48px;
  background: rgba(202, 202, 202, 0.55);
}

.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 27px;

}

.ProfileHeader .ProfileHeaderUserName {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 72px;
}

.ProfileHeader .ProfileHeaderButtons {
  display: flex;
  gap: 16px;
}

.ProfileHeader .ProfileHeaderButtons .btn{
  width: 196px;
}

.ProfileHeader .ProfileHeaderButtons .btn.btn-lg{
  min-width: 196px;
}

.ProfileHeader .ProfileHeaderButtons .btn.edit.btn{
  width: 160px;
}

.ProfileHeader .ProfileHeaderButtons .btn.edit.btn.btn-lg {
  min-width: 160px;
}