@use "src/assets/styles/variables" as *;

.myData {
    min-height: 100vh;
    background-color: $grey_100;
}

.border-right-1 {
    border-right: 1px dashed $grey_200;
}

.c-pointer {
    cursor: pointer;
}

.color {
    &-green {
        color: #50D76E;
    }

    &-blue {
        color: #408DFF;
    }

    &-yellow {
        color: #FFAD31;
    }

    &-red {
        color: $red_600;
    }

    &-black {
        color: $grey_700;
    }
}

.disabled > * {
    opacity: .5;
}

.mock-header {
    height: 80px;
    background-color: $grey_200;
}

.mock-footer {
    height: 156px;
    background: #333333;
    opacity: 0.8;
}