@import 'src/assets/styles/variables';

.footer {
  padding: 18px 0;
  background: $footer-bg;
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .company-info{
      display: flex;
      align-items: center;
      .logo img {
        width: 120px;
      }
      .site {
        margin-left: 40px;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $footer-color;
      }
    }
    .contact-info {
      text-align: right;
      .phone {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-align: right;
        letter-spacing: 0.04em;
        color: $white;
        margin-bottom: 4px;

        span {
          color: #858585;
          margin-right: 12px;
        }
      }
      .schedule {
        font-size: 20px;
        line-height: 32px;
        color: $footer-color;
      }
    }
  }
}
