@import "../../../variables";

.avatar {
    position: absolute;
    top: -140px;

    @media (max-width: $lg) {
        left: 20px;
    }

    @media (max-width: $smd) {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}