@import "../../../variables";

.avatar {
    position: absolute;
    top: -140px;
    overflow: hidden;
    border-radius: 50%;
    //background-color: $x-color-grey-3;

    @media (max-width: $lg) {
        left: 20px;
    }

    @media (max-width: $smd) {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}