/**
 *  Chat Messages Bottom Area
 */

.chatMessagesBottomArea {
    width: 100%;
    min-height: 72px;
    padding: 16px;

    border-top: var(--CVB_BORDER);
}

.chatMessagesInputArea {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 40px;

    align-items: center;
}

.chatInputFieldArea {
    position: relative;

    width: inherit;
    height: inherit;
}

.chatInputFileIconUpload {
    position: absolute;
    right: 2px;
}

.chatInputField {
    width: inherit;
    height: inherit;
    padding: 0 34px 0 12px;

    border: var(--CVB_INPUT_BORDER);
    border-radius: var(--CVB_DEFAULT_BORDER_RADIUS);
}

.chatInputField::placeholder {
    color: var(--CVB_PLACEHOLDER_COLOR);
}

.chatSendBtn {
    width: 100px;
    min-width: 100px;
    height: auto;
    margin: 0 0 0 16px;
    padding: 8px 30px 8px 30px;

    text-align: center;

    color: var(--DEFAULT_WHITE);
    border: var(--CVB_BUTTON_BORDER);
    border-radius: var(--CVB_BUTTON_BORDER_RADIUS);
    background-color: var(--CVB_BUTTON_COLOR);

    font-weight: 700;
}

.upload {
    position: absolute;
    top: 4px;
    right: 2px;
    cursor: pointer;
    margin-bottom: 0;
}

.uploadInput {
    height: 0;
    overflow: hidden;
    width: 0;
}

.uploadedFile {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}

.uploadImg {
    min-width: 32px;
}

.uploadedFileText {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    color: VAR(--SHADE_OF_BLUE_2);
    margin-bottom: 0;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploadedFileHint {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: VAR(--CVB_USER_MAIL_COLOR);
    margin-bottom: 0;
}

.uploadFileError {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    color: #FF0000;
}

.uploadFileClear {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    background-color: VAR(--SHADE_OF_PURPLE_3);
    color: VAR(--SHADE_OF_GREY_5);
    margin-left: 16px;
}

.uploadedFileTextWrap {
    display: flex;
    align-items: center;
}

.messageCounter {
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #A9AEB5;
}

.messageCounterError {
    color: #FF0000;
}
