@use "../../../variables" as *;

.fieldBox {
  position: relative;

  & > * {
    width: 100%
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -70%);

  width: 15px;
  height: 15px;

  cursor: help;
}