@import "../../variables";

.title {
    margin-top: 0;
}

.users {
    @include list-reset();

    li {
        display: grid;
        grid-template-columns: 80px 2fr;
        align-items: center;
        grid-gap: 10px;
        margin-bottom: 15px;
    }
}

.userPhoto {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.paginator {
    display: flex;
    max-width: 215px;
    overflow: hidden
}

.paginator > span {
    margin: 6px;
    cursor: pointer;
}

.paginator > span.activePage {
    color: red;
    cursor: default;
}