@use "src/assets/styles/variables" as *;

.table-frame {
    margin: 35px 14px 0;

    &--small-horizontal-m {
        margin: 35px 7px 0;
    }

    &--small-left-m {
        margin-left: 7px;
    }

    &--small-right-r {
        margin-right: 7px;
    }
}

.table-frame .table {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: center;

    @media(max-width: 1600px) {
        font-size: 11px;
    }
}

.table-frame .table .warning-icon {
    width: 10.5px;
    height: 10.5px;
    margin-left: 5px;
    cursor: pointer;
}

.table-frame .table .popover-arrow {
    width: 7px;
    height: 5px;
    margin-left: 3px;
    margin-bottom: 2px;
}

.table-frame .table .separate {
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 3px;
    border-bottom: 1px solid $grey_200;
}

.table-frame thead {
    color: rgba(51, 51, 51, 0.5);
}

.table-frame thead td {
    border-bottom: none;
    font-weight: bold;
}

.table-frame .table tfoot tr > td,
.table-frame .table tbody tr > td {
    padding: 5px 5px 5px 0;
    color: $grey_700;
    border-bottom: none;
}

.table-frame .table tfoot tr > td:not(:first-child),
.table-frame .table tbody tr > td:not(:first-child) {
    background-color: $grey_100;
}

.table-frame .table tr > td:first-child {
    text-align: left;
    color: $grey_650;
}

.table-frame .table tbody tr:nth-child(2n) td:not(:first-child) {
    background-color: transparent;
}

.table-frame .table tfoot > tr > td:first-child,
.table-frame .table tfoot > tr > td {
    font-weight: 700;
    color: $grey_700;
    background-color: transparent !important;
}

.table-frame .table tfoot {
    border-top: 1px solid $grey_200;
}