@use 'src/assets/styles/variables' as *;

.FieldBox {
  position: relative;
}

.FieldBox > * {
  width: 100%
}

.Icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -70%);

  width: 15px;
  height: 15px;

  cursor: help;
}

.WarningTwoTone {
  font-size: 18px;
}

.ShowPasswordButton {
  position: absolute;
  top: -16px;
  left: 68px;
  transform: translateY(-50%);

  display: inline-flex;

  cursor: pointer;

  &:active {
    opacity: .7;
  }
}