@use 'src/assets/styles/variables' as *;

$url-img: "../../../src/assets/images/";
$bgColor: $grey_350;

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: $bgColor;
  background-image: url(#{$url-img}/bg-pattern.jpg);
}