@import "../../../variables";

.bgImage {
    grid-area: main-cover;
    width: 100%;
    height: 400px;

    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

    @media (max-width: $smd) {
        height: 300px;
    }
}