@import 'src/assets/styles/variables';

.full-study-description-page {
  padding: 46px 0 126px;
  .go-to-home-btn {
    margin-bottom: 28px;
  }
  .description {
    color: rgba(51, 51, 51, 0.75);
    margin-bottom: 48px;
  }
}
