/******************************
 *  Message Area
 ******************************/

.messageArea {
    width: 100%;
    flex: 1;
}

.messageAreaEmpty {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.chatMessagesTopArea {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 56px;
    padding: 16px;

    border-bottom: var(--CVB_BORDER);

    align-items: center;
}

.chatMessagesMiddleArea {
    overflow: auto;

    width: 100%;
    height: calc(100% - 56px);
    padding: 16px 16px 0;
}

/**
 *  Chat Messages Top Area
 */
.chatMessagesInfoArea {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    font-size: 0.75rem;

    align-items: center;
}

.chatMessagesMenuArea {
    position: relative;

    width: auto;
    height: 100%;
}

.chatMessagesUserName {
    padding: 0 0 0 5px;

    font-weight: 700;
}

.chatMessagesUserActiveTime {
    padding: 0 0 0 12px;

    color: var(--SHADE_OF_GREY_4);
}

.chatMessagesMenu {
    position: absolute;
    top: -2px;
    right: 0;

    cursor: pointer;

    color: var(--SHADE_OF_GREY_5);
}

/**
 *  Chat Messages Middle Area
 */
/**
 *  Chat Messages Middle Area - Group Area
 */
.chatMessagesGroupArea {
    padding: 0 0 16px 0;
}

/**
 *  Chat Messages Middle Area - Separator
 */
.chatMessagesSeparator {
    display: flex;
    flex-direction: row;

    color: var(--SHADE_OF_GREY_4);

    font-size: 0.75rem;

    justify-content: center;
    align-items: center;
}

/**
 *  Chat Messages Middle Area - User Area
 */
.chatMessagesUserArea {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.chatMessagesUserAreaRight {
    align-items: flex-end;
}

.chatMessagesUserAreaLeft {
    align-items: flex-start;
}

.chatMessagesContentArea {
    display: flex;
}

.chatMessagesContentAreaRight {
    flex-direction: row-reverse;
}

.chatMessagesContentAreaLeft {
    flex-direction: row;
}

.chatMessagesPayloadArea {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.chatMessagesPayloadAreaRight {
    margin: 0 3px 0 0;

    align-items: flex-end;
}

.chatMessagesPayloadAreaLeft {
    margin: 0 0 0 3px;

    align-items: flex-start;
}

.chatMessagesUserMsg {
    width: 100%;
    height: auto;
    margin: 0 0 3px 0;
    padding: 4px 12px 4px 12px;

    overflow-wrap: anywhere;
}

.chatMessagesUserMsgRight {
    color: var(--DEFAULT_WHITE);
    border-top-left-radius: var(--CVB_BODY_BORDER_RADIUS);
    border-top-right-radius: var(--CVB_BODY_BORDER_RADIUS);
    border-bottom-left-radius: var(--CVB_BODY_BORDER_RADIUS);
    background-color: var(--SHADE_OF_GREY_4);
}

.chatMessagesUserMsgLeft {
    color: var(--CVB_TXT_COLOR);
    border-top-left-radius: var(--CVB_BODY_BORDER_RADIUS);
    border-top-right-radius: var(--CVB_BODY_BORDER_RADIUS);
    border-bottom-right-radius: var(--CVB_BODY_BORDER_RADIUS);
    background-color: var(--SHADE_OF_GREY_1);
}

.chatMessagesUserFileArea {
    display: flex;
    flex-direction: row;

    margin: 0 0 3px 0;

    cursor: pointer;

    align-items: center;
}

.chatMessagesUserFileIcon {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
}

.chatMessagesUserFileName {
    width: 100%;
    height: auto;

    color: var(--CVB_BUTTON_COLOR);

    overflow-wrap: anywhere;
}

.chatMessagesUserTime {
    width: 100%;
    height: auto;

    color: var(--CVB_USER_MAIL_COLOR);

    font-size: 0.625rem;

    overflow-wrap: anywhere;
}

.chatMessagesUserTimeRight {
    text-align: right;
}

.chatMessagesUserTimeLeft {
    text-align: left;
}

/******************************
 *  Message Area Empty
 ******************************/
.chatEmptyArea {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.chatEmptyText {
    color: var(--CVB_USER_MAIL_COLOR);
}
