@import 'src/assets/styles/variables';

.home-page-wrapper {
  .content-wrapper {
    max-width: 808px;
    margin: 0 auto;
  }

  .mfe-content {
    padding: 40px 0 70px 0;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.07);

  }
}
