@use 'src/assets/styles/variables' as *;

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inner {
    display: flex;
    align-items: center;
}

.login {
    font-weight: 500;
}