@import "src/assets/styles/variables";

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $text-color;

  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .footer {
      margin-top: auto;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: $title-color;
  margin-bottom: 0;

  &.fw-normal {
    font-weight: 400;
  }

  &.mb-sm {
    margin-bottom: 16px;
  }

  &.mb-md {
    margin-bottom: 24px;
  }

  &.mb-lg {
    margin-bottom: 32px;
  }
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 72px;
}

h3 {
  font-size: 32px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  color: $grey_650;
}

h6 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $grey_650;
  letter-spacing: 0.08em;
}

.subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: $subtitle-color;
}
.main-text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: $text-color;
}
.smaller-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: $secondary-text-color;
}

a,
a.link {
  display: inline-block;
  width: max-content;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

.main-wrap {
  padding-top: 80px;
}

.container-wrap {
  padding: 40px 0;
}

.form-group {
  margin-bottom: 32px;
}

.go-to-home-btn {
  line-height: 1;
  margin-bottom: 22px;
  .btn {
    &.btn-text.has-arrow {
      position: relative;
      padding-left: 28px;

      &:after {
        position: absolute;
        content: '←';
        top: 0;
        left: 0;
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}

.wrapper {
  margin: 100px 0;
}
.ask-question-form .input-control .phone-number-wrap .form-control {
  padding-left: 0;
}
