/*Lato*/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
  url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
  url('../fonts/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*Roboto - only bold*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*Handlee-Regular*/
@font-face {
  font-family: 'Handlee';
  src: url('../fonts/Handlee-Regular.woff2') format('woff2'),
  url('../fonts/Handlee-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Nanum Brush Script*/
@font-face {
  font-family: 'NanumBrushScript';
  src: url('../fonts/NanumBrush.woff2') format('woff2'),
  url('../fonts/NanumBrush.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Birthstone Bounce*/
@font-face {
  font-family: 'BirthstoneBounce';
  src: url('../fonts/BirthstoneBounce.woff2') format('woff2'),
  url('../fonts/BirthstoneBounce.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*IndieFlower*/
@font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower.woff2') format('woff2'),
  url('../fonts/IndieFlower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*ArchitectsDaughter*/
@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('../fonts/ArchitectsDaughter-Regular.woff2') format('woff2'),
  url('../fonts/ArchitectsDaughter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
