@import 'src/assets/styles/variables';

.ask-question {
  padding: 32px 20px 32px;
  border-radius: 4px;
  background: $ask-question-bg;

  .phone {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin: 6px 0 2px;
  }

  .schedule {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }

  .button-wrap {
    margin-top: 31px;
  }
}
