@import "../../../variables";

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid $x-color-grey-4;

    & > a {
        display: grid;
        grid-template-columns: auto 2fr;
        align-items: center;
        grid-gap: 12px;
    }
}

.userPhoto {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.userName {
    color: $primary-text-color
}