@import "../../../variables";

.user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    & > a {
        display: grid;
        grid-template-columns: 80px 2fr;
        align-items: center;
        grid-gap: 10px;
    }
}

.userPhoto {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}