.error-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5% 0;
    color: #dc3545;
}

.error-indicator img {
    width: 100%;
    max-width: 20%;
    margin-bottom: 1rem;
}

.error-indicator .boom {
    font-size: 1.7rem;
}