.calendar {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  font-family:"Lato";
  color:#333;

  .calendarLegend {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .calendarLegendItem {
      display: flex;
      align-items: center;

      span {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}


.rdrCalendarWrapper {
  background:#fff;
  box-sizing:border-box;
  display:inline-flex;
  flex-direction:column;
  font-size:18px;
  user-select:none;
}

.rdrMonthAndYearWrapper {
  display: none;
}

.rdrMonths {
  display:flex;
  justify-content: space-between;
  gap: 40px;
}

.rdrMonthsVertical {
  flex-direction:column;
}

.rdrMonthsHorizontal > div > div > div {
  display:flex;
  flex-direction:row;
}

.rdrMonth {
  padding-bottom: 20px;
  width:336px;
}

.rdrWeekDays {
  border-bottom:1px solid #E2E2E2;
  display:flex;
  padding:0;

  .rdrWeekDay {
    box-sizing:inherit;
    color:rgba(51,51,51,.5);
    flex-basis:calc(100% / 7);
    font-size:14px;
    font-weight:400;
    line-height:2.667em;
    padding-bottom:4px;
    text-align:center;
  }
}

.rdrDays {
  display:flex;
  flex-wrap:wrap;
  margin-top: 8px;
}

.rdrInfiniteMonths {
  overflow:auto;
}

.rdrDateRangeWrapper {
  user-select:none;
}

.rdrDay {
  background:transparent;
  border:0;
  box-sizing:inherit;
  color:#1d2429;
  cursor:pointer;
  font:inherit;
  height: 42px;
  padding:0;
  padding-top: 8px;
  line-height:32px;
  position:relative;
  text-align:center;
  user-select:none;
  width:calc(100% / 7);

  &:focus {
    outline:0;
  }
}

.rdrDayNumber {
  align-items:center;
  bottom:0;
  bottom:5px;
  display:block;
  display:flex;
  font-weight:400;
  justify-content:center;
  left:0;
  outline:0;
  position:relative;
  position:absolute;
  right:0;
  top:0;
  top:5px;

  span {
    color:#1d2429;
  }
}

.rdrDayDisabled {
  background-color:#E2E2E2;
  cursor:not-allowed;
}

.rdrSelected,.rdrInRange,.rdrStartEdge,.rdrEndEdge {
  background:currentColor;
  bottom:5px;
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:5px;
}

.rdrDayStartPreview,.rdrDayInPreview,.rdrDayEndPreview {
  background:rgba(255,255,255,0.09);
  border:0 solid transparent;
  bottom:3px;
  left:0;
  pointer-events:none;
  pointer-events:none;
  position:absolute;
  right:0;
  top:3px;
  z-index:1;
}

.rdrDayToday .rdrDayToday:not(.rdrInRange) .rdrDayNumber span {
  color: #4542D2
}

.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after {
  background:#fff;
}

.rdrSelected {
  border-radius:1.042em;
  left:2px;
  right:2px;
}

.rdrDayStartOfMonth .rdrDayInPreview,.rdrDayStartOfMonth .rdrDayEndPreview,.rdrDayStartOfWeek .rdrDayInPreview,.rdrDayStartOfWeek .rdrDayEndPreview {
  border-bottom-left-radius:1.333em;
  border-left-width:1px;
  border-top-left-radius:1.333em;
  left:0;
}

.rdrDayEndOfMonth .rdrDayInPreview,.rdrDayEndOfMonth .rdrDayStartPreview,.rdrDayEndOfWeek .rdrDayInPreview,.rdrDayEndOfWeek .rdrDayStartPreview {
  border-bottom-right-radius:1.333em;
  border-right-width:1px;
  border-top-right-radius:1.333em;
  right:0;
}

.rdrDayStartPreview {
  border-bottom-left-radius:1.333em;
  border-bottom-width:1px;
  border-left-width:1px;
  border-top-left-radius:1.333em;
  border-top-width:1px;
  left:0;
}

.rdrDayInPreview {
  border-bottom-width:1px;
  border-top-width:1px;
}

.rdrDayEndPreview {
  border-bottom-right-radius:1.333em;
  border-bottom-width:1px;
  border-right-width:1px;
  border-top-right-radius:1.333em;
  border-top-width:1px;
  right:2px;
  right:0;
}

.rdrDay:hover:not(.rdrDayDisabled) {
  background: #FFE8F1;
  border-radius:16px;
  border-color: transparent;
  background-clip: padding-box;
}

.rdrDayPassive {
  pointer-events:none;
}

.rdrDayPassive .rdrDayNumber span {
  color:#d5dce0;
}

.rdrMonthName {
  color:#333;
  font-size:16px;
  font-weight:700;
  padding-left: 0;
  margin-bottom: 10px;
  text-align:left;
}

.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName,.rdrDayPassive .rdrInRange,.rdrDayPassive .rdrStartEdge,.rdrDayPassive .rdrEndEdge,.rdrDayPassive .rdrSelected,.rdrDayPassive .rdrDayStartPreview,.rdrDayPassive .rdrDayInPreview,.rdrDayPassive .rdrDayEndPreview {
  display:none;
}

.rdrStartEdge,.rdrDayStartOfMonth .rdrInRange,.rdrDayStartOfMonth .rdrEndEdge,.rdrDayStartOfWeek .rdrInRange,.rdrDayStartOfWeek .rdrEndEdge {
  border-bottom-left-radius:1.042em;
  border-top-left-radius:1.042em;
  left:2px;
}

.rdrEndEdge,.rdrDayEndOfMonth .rdrInRange,.rdrDayEndOfMonth .rdrStartEdge,.rdrDayEndOfWeek .rdrInRange,.rdrDayEndOfWeek .rdrStartEdge {
  border-bottom-right-radius:1.042em;
  border-top-right-radius:1.042em;
  right:2px;
}