@import "../../../variables";

.messages {
    position: relative;
    padding: 0;
    background-color: $x-color-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.messagesList {
    padding: 15px 15px 80px;
    overflow: auto;
    height: 50vh;

    background-color: $x-color-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.foreignMessages {
    text-align: left;
}

.yourMessages {
    //text-align: right;
}
