@import "../../../variables";

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
        padding: 10px 15px;
    }
}

.info {
    padding: 8px;
    letter-spacing: 1.1px;
    font-weight: 500;
    color: $palette-primary;
    background-color: $palette-secondary;
}

.control {
    padding: 12.5px 20px;
    @media (max-width: $smd) {
        padding: 0;
    }
}