@use 'src/assets/styles/variables' as *;

.profilePosts {
  position: relative;
  margin-top: 15px;
  padding: 15px;
}

.textarea {
  padding-right: 40px !important;
}

.postButton {
  position: absolute;
  top: 56%;
  right: 20px;
  transform: translateY(-50%);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
    opacity: .4;
  }
}