@use 'src/assets/styles/variables' as *;

.wrapper {
  height: 100%;
  padding: 10px 0;
  color: $blue_650;
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 11.5px;
  font-weight: 500;
  margin-top: 5px;
}

.label {
  text-transform: capitalize;
  min-width: 125px;
}

.desc {
  text-align: right;
}