@import "../../../../../variables";

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 5px;
}

.label {
    color: #818C99;
}

.desc {
    color: #2A2885;
}