@use "../../../assets/styles/variables" as *;

.heart-rate-char {
    position: relative;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    fill: rgba(51, 51, 51, 0.5);
    color: rgba(51, 51, 51, 0.5);

    line {
        stroke: #E2E2E2;
    }

    .arrow {
        position: absolute;
        z-index: 9;

        display: inline-flex;
        width: 15px;
        height: 15px;

        .line {
            position: absolute;
            width: 2px;
            height: 14px;
            background-color: #E2E2E2;
            transform: rotate(90deg);
        }

        &-up {
            top: 12px;
            left: 54px;
            transform: rotate(-90deg);

            .line {
                left: -2px;
                bottom: 2px;
            }
        }

        &-down {
            right: 4px;
            bottom: 26px;

            .line {
                left: -2px;
                bottom: 2px;
            }
        }
    }

    .recharts-yAxis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick:first-child {
        opacity: 0;
    }

    .category-bpm {
        left: 20px;
        bottom: 10px;
    }

    .recharts-xAxis .recharts-cartesian-axis-ticks .recharts-cartesian-axis-tick {
        transform: translate(-4%, 2.5%);


        &:first-child {
            transform: translate(-2.5%, 2.5%);
        }

        &:last-child {
            transform: translate(-6%, 2.5%);
        }

        @media(max-width: 1600px) {
            transform: translate(-4.5%, 2.5%);
        }

        @media(max-width: 1440px) {
            transform: translate(-5%, 2.5%);
        }
    }
}