@use "../../../assets/styles/variables" as *;

.sleep-metrics-char {
  padding-top: 5px;
  padding-right: 15px;
}

.sleep-metrics-char__legend {
  display: flex;
  margin: 0 11px;
  font-size: 12px;
  line-height: 12px;
  color: $grey_700;
  list-style: none;
}

.sleep-metrics-char__legend li {
  padding-left: 12px;
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }
}

.sleep-metrics-char .part-of-day-axes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 75px;
  transform: translateX(-14px);
  width: calc(100% + 14px);

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: $grey_650;
  }
}

.ChartBlock {
  padding-right: 10px;
}

.ChartItems {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 116px;
}

.ChartItem {
  flex: 0 0 auto;
  height: 28px;
  width: 100%;
}

.ChartItem + .ChartItem {
  margin-top: 16px;
}

.ChartItem svg {
  display: block;
}

.ChartVerticalLines {
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 2px;
}

.ChartVerticalLines span {
  position: relative;
}

.ChartVerticalLines span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 9;
  width: 2px;
  height: 116px;
  background: url("../../../assets/images/dotted-bg.png") repeat-y;
  pointer-events: none;
}
