@import "../../../../variables";

.inputBox {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    box-shadow: 0 -0.5px 0 rgba(0, 0, 0, .15);
    background-color: $x-color-grey-3;
}

.input {
    width: 100%;
    height: calc(1.5em + .75rem + 12px);
}

.submitButton {
    position: absolute;
    top: 56%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:disabled {
        cursor: no-drop;
        opacity: .4;
    }
}