@use "src/assets/styles/variables" as *;

.table-frame .table.heart-rate {
    border-collapse: separate;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 8px;
}

.table-frame .table.heart-rate thead td {
    border: 1px solid $grey_200;
    border-bottom-color: $grey_200;

    &:first-child {
        border: none;
    }
}

.table-frame .table.heart-rate tr > td:first-child {
    padding: 5px 5px 5px 0;
}

.table-frame .table.heart-rate .thead-time-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 3px auto 0;
    min-height: 36px;
}