.ProfileMcrData td {
  line-height: 36px;
}

.ProfileMcrData .ProfileMcrDataTitle{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #333333;
}

.ProfileMcrData.TableInfo {
  margin-bottom: 40px;
}

.ProfileMcrData.TableInfo .ProfileMcrDataTitle {
  width: 90px;
}

.ProfileMcrData.TableData .ProfileMcrDataTitle{
  width: 150px;
}


.ProfileMcrSubForm {
  position: relative;
  margin-top: -20px;
  padding: 32px 35px 36px 32px;
  background: #F7F7F7;
  border-radius: 4px;
}

.ProfileMcrSubForm  .ProfileMcrSubFormTitle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.04em;
}

.ProfileMcrSubForm .ProfileMcrSubFormSubtitle{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.ProfileMcrSubForm .ProfileMcrSubFormFileSize{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.5);
}

.ProfileMcrSubForm .ProfileMcrSubFormLink{
  position: absolute;
  right: 30px;
  top: 90px;
  color: transparent;
}

.ProfileMcrSubForm .ProfileMcrSubFormLink::after{
  position: absolute;
  content: url('../../assets/icons/download-icon.svg');
  display: block;
  width: 24px;
  height: 24px;
  right: 0;
  top: 0;
}