@use 'src/assets/styles/variables' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  width: 100%;
  height: auto !important;
  padding: 5px 0 !important;

  line-height: inherit !important;
  border-bottom: 1px solid #e7e8ec;
}

.lightHeader {
  background-color: $light-theme-bg-color;
}