@import "../../variables";

.row {
    position: relative;

    display: grid;
    grid-area: app-header;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    padding: 6px 0;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: $x-color-white;

    @media(max-width: $xl) {
        grid-gap: 25px;
    }

    @media (max-width: $lg) {
        grid-template-columns: 170px 10fr;
    }

    @media (max-width: $smd) {
        display: block;
    }
}