@import "../../variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    width: 100%;
    height: auto !important;
    padding: 5px 0 !important;

    line-height: inherit !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lightHeader {
    background-color: $palette-light-theme-color;
}

.darkHeader {
    background-color: $palette-dark-theme-color;
}