//Buttons Styles
.ProfileHeader.ProfileHeaderEdit .ProfileHeaderButtons .btn.btn-lg {
  min-width: 160px;
}

.ProfileHeader.ProfileHeaderEdit .ProfileHeaderButtons .btn{
  width: 160px;
}

//Form Styles

.ProfileEditForm .ProfileEditFormWrapperSmall {
  max-width: 392px;
}

.ProfileEditForm .ProfileEditFormWrapperUser {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.ProfileEditForm .ProfileEditFormWrapperUser .form-group{
  width: 100%;
}

.ProfileEditForm .ProfileEditFormSubtitle{
  font-size: 20px;
}

.ProfileEditForm .ProfileEditForm__description{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.ProfileEditForm .ProfileEditFormWrapperRacial{
  margin-bottom: 42px;
}

.ProfileEditForm .RacialList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.AddressDataEmail {
  position: relative;
}

.AddressDataEmailMessage {
  display: none;
  position: absolute;
  width: 357px;
  right: -378px;
  padding: 16px;
  z-index: 100;
  background: #A5DEFF;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.AddressDataEmailMessage.EmailMessageArrow:after{
  content: " ";
  position: absolute;
  left: -10px;
  top: 36px;
  border-top: 10px solid transparent;
  border-right: 10px solid #A5DEFF;
  border-left: none;
  border-bottom: 10px solid transparent;
}

.AddressDataEmail:hover .AddressDataEmailMessage{
  display: block;
}

.AddressDataEmail:hover:before {
  display: block;
}

.ProfileEditForm .RacialList .custom-radioCheckbox label {
  font-size: 16px;
}

.AddressDataEmail .input-control .form-control:disabled{
  color: #333;
}

.ProfileEditForm .AddressData .form-group:nth-child(1),
.ProfileEditForm .AddressData .form-group:nth-child(2),
.ProfileEditForm .AddressData .form-group:nth-child(3),
.ProfileEditForm .AddressData .form-group:nth-child(4) {
  margin-bottom: 40px;
}

.ProfileEditForm .CitiesList {
  display: flex;
  gap: 24px;
  margin-bottom: 18px;
}

.ProfileEditForm .CitiesList .form-group:nth-child(1) {
  min-width: 184px !important;
}

.ProfileEditForm .BedList{
  margin-bottom: 40px;
}

.ProfileEditForm .BedListItems,
.ProfileEditForm .HandsList {
  display: flex;
  gap: 24px;
}

.ProfileEditForm .HandsList {
  margin-bottom: 40px;
}

.ProfileEditForm .BedListItems .custom-checkbox label,
.ProfileEditForm .HandsList .custom-radio-button label {
  font-size: 16px;
}

.ProfileEditForm .BedListItems .custom-checkbox label {
  font-size: 16px;
}

.ProfileEditForm .HandsList--dominance{
  margin-bottom: 40px;
}