@import "../../../variables";

.message {
    display: block;
    color: $palette-primary;
}

.messageBox {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 8px;
    background: #dcfce7;
    border-radius: 4px;
}