@use "src/assets/styles/variables" as *;

.table-frame .table.sleep-stages-smoothed thead > tr > td:first-child {
    font-weight: 700;
    color: $grey_700;
}

.table-frame .table.sleep-stages-smoothed tr > td {
    padding: 5px 20px;

    &:first-child {
        padding: 5px 0;
    }
}

.table-frame .table.sleep-stages-smoothed thead > tr > td:first-child,
.table-frame .table.sleep-stages-smoothed thead tr > td {
    padding-bottom: 8px;
}

.table-frame .table.sleep-stages-smoothed.filter-on tr > td  {
    &:first-child {
        width: 30%;
    }

    &:nth-child(2) {
        width: 70%;
    }
}

