@use 'src/assets/styles/variables' as *;

.StepProgress {
  padding: 26px 20px;
  border-radius: 8px;
  background: $white;
  box-shadow: $StepProgress-shadow;
}

.StepsList {
  margin-top: 28px;
}

.StepsList .StepItem {
  position: relative;
  padding-left: 33px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: $step-unavailable-color;
}

.StepsList .StepItem:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $step-unavailable-indicator-border;
}

.StepsList .StepItem.waiting {
  display: none;
}

.StepsList .StepItem + .StepItem {
  margin-top: 16px;
}

.StepsList .StepItem.active {
  margin: 24px 0;
  color: $step-active-color;
}

.StepsList .StepItem.active:last-child {
  margin-bottom: 16px;
}

.StepsList .StepItem.active:before {
  background: $step-active-color;
  border-color: $step-active-color;
}

.StepsList .StepItem.completed {
  text-decoration: line-through;
}

.StepsList .StepItem.completed:before {
  background: url('../../assets/icons/checked-green-icon.svg') center center no-repeat;
  border: none;
}

.StepsList .StepItem.active.waiting {
  display: none;
  opacity: 0;
}