@import 'src/assets/styles/variables';

.full-frequently-asked-question-page {
  padding: 46px 0 80px;
  .go-to-home-btn {
    margin-bottom: 12px;
  }
  .top-page-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    .form-group {
      max-width: 240px;
      margin-bottom: 0;
    }
  }
}
.accordion {
  &__item {
    & + .accordion__item {
      margin-top: 8px;
    }
  }

  &__heading {
    position: relative;
    background: $accordion-heading-bg;
    border-radius: 4px;
  }

  &__button {
    padding: 8px 48px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: $accordion-heading-color;
    &:before {
      content: '';
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url('../../assets/icons/arrow-right-silver-icon.svg') center center no-repeat, $white;
      border-radius: 50%;
      pointer-events: none;
    }

    &[aria-expanded="true"]:before {
      background-image: url('../../assets/icons/arrow-down-black-icon.svg');
    }
  }

  &__panel {
    padding: 26px 0 46px;
    .question-item {
      .question {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: -0.04em;
        color: $accordion-text-color;
        margin-bottom: 14px;
      }
      .answer {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: $accordion-text-color;
        white-space: pre-line;
      }

      & + .question-item {
        margin-top: 32px;
      }
    }
  }
}
