@use 'src/assets/styles/variables' as *;

.myFriends {
  @include list-reset();

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 14px;
  max-width: 100%;
  margin-top: 15px;

  text-align: center;

  & > li {
    max-width: 66px;
  }

  @media(max-width: $xl) {
    & > li {
      max-width: 52px;
    }
  }

  @media(max-width: $lg) {
    & > li {
      max-width: 100%;
    }
  }
}

.boxTitle {
  font-size: 12.5px;
  line-height: 1;
  font-weight: 500;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.count {
  padding: 0 3px;
  font-weight: 400;
  color: $steel_gray_400;
}