.daily-chart__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.daily-chart__widget {
    margin: 0 0 8px;
    padding: 12px 24px 16px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.daily-chart__head {
    margin-bottom: 25px;
}

.daily-chart__date {
    margin-left: 15px;
    color: rgba(51, 51, 51, 0.3);
}

