@import "../../variables";

.section {
    min-width: 500px;
    padding: 80px;
    border-radius: 4px;
    background: $x-color-white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.title {
    margin: 0 0 40px;
    font-size: $font_size_middle - 4px;
    line-height: 1.21;
    letter-spacing: -.74px;
    text-align: center;
    color: $palette-primary;
    text-shadow: 1px 1px 2px $palette-secondary, 0 0 3px $palette-primary;
    user-select: none;
}

.form {
    max-width: 320px;
    width: 100%;
}

@media (max-width: 768px) {
    .section {
        max-width: 350px;
        min-width: auto;
        width: 100vw;
        padding: 25px;
    }
}