@import "../../variables";

.section {
    min-width: 500px;
    padding: 80px;
    border-radius: 4px;
    border: 1px solid #E4E4E7;
    background: $x-color-white;
}

.title {
    margin: 0 0 40px;
    font-size: $font_size_middle - 4px;
    line-height: 1.21;
    letter-spacing: -.74px;
    text-align: center;
    color: $palette-primary;
    text-shadow: 1px 1px 2px $palette-secondary, 0 0 1em $palette-primary;
}

.form {
    max-width: 320px;
    width: 100%;
}