@import "src/assets/styles/bootstrap_updates";
@import "src/assets/styles/variables";
@import "src/assets/styles/fonts";
@import "src/assets/styles/default-styles";
@import "~@wavea/ui-kit/dist/ui-kit-styles";

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .main-wrap {
        flex-grow: 1;
        background: $white;
    }

    .consent-proccess-page {
        box-shadow: none;
    }
}

.main-content {
    .btn {
        width: 352px;
    }
}

.ReceiptKit-form .modal-wrap .modal-header {
    margin-top: 37px;
}

.ReceiptKit-form .modal-wrap .modal-subtitle {
    margin-bottom: 35px;
}
