@use 'src/assets/styles/variables' as *;

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 11.5px;
  font-weight: 500;
  @media(max-width: $smd) {
    font-size: 10px;
    word-break: break-all;
  }
}

.label {
  text-transform: capitalize;
  min-width: 125px;
}

.desc {
  color: $blue_650;
}

.desc:hover {
  text-decoration: underline;
}

@media(max-width: $smd) {
  .desc {
    word-break: break-all;
  }
}