@use 'src/assets/styles/variables' as *;

.user {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 12px 0;

  & > a {
    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    grid-gap: 12px;
  }
}

.userCard {
  width: 100%;
  margin-top: 16px;
}

.userPhoto {
  //width: 60px;
  //height: 60px;
  //object-fit: cover;
  //object-position: center;
  //border-radius: 50%;
}

.userName {
  color: $primary-text-color
}