@import "src/assets/styles/variables";

.navbar-nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .navbar-buttons {
        display: flex;
        gap: 8px;
    }
}

.navbar {
    padding: 0;

    .navbar-nav {
        .nav-link {
            padding: 30px 12px;
            min-width: 144px;
            font-size: 18px;
            line-height: 20px;
            font-weight: bold;
            color: $navbar-link-c;
            text-align: center;

            &.active {
                color: $navbar-link-active-c;
                background: $navbar-link-active-bg;
            }
        }
    }
}

.navbar-brand {
    img {
        mix-blend-mode: multiply;
    }
}
