@use 'src/assets/styles/variables' as *;

.friendName {
  display: block;
  max-width: 60px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $blue_650;
}

.friendName:hover {
  text-decoration: underline;
}