@use 'src/assets/styles/variables' as *;

.Wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TextBox {
  width: 100%;
  min-height: 50px;
  padding: 6px 40px 6px 15px;

  background-color: transparent;
}

.CopyButton {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.CopyButton:active {
  opacity: .6;
}

.EmptyBox {
  font-size: 12px;
  color: $grey_750;
}