@import "../../../variables";

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    position: relative;
    width: 30px;
    height: 30px;
    transition: all .1s ease;
    animation: spin 3s linear infinite;
    cursor: pointer;

    &:active {
        top: 1px
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}