@use 'src/assets/styles/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrapper > span {
  display: flex;
  margin-right: 6px;
}

.logo {
  position: relative;
  width: 30px;
  height: 30px;
  transition: all .1s ease;
  animation: spin 3s linear infinite;
  cursor: pointer;

  &:active {
    top: 1px
  }
}

.companyName {
  font-size: 18px;
  transition: all .4s ease-in-out;
  margin-left: 5px;
}

.companyNameDarkTheme {
  color: $x-color-white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}